# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment & secrets
.env
.env.local
serviceAccount.json

# Native builds
android/
ios/
*.jks
*.keystore

# Logs
npm-debug.*
*.log

# OS
.DS_Store
Thumbs.db
